@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin.ttf');
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato-Italic.ttf');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    /* что все элементы в HTML не будут добавлять внутренние отступы и границы к итоговой ширине. Изменение типа отображения элемента. */
    font-style: normal;
    /* устанавливает для текста обычное начертание шрифта. italic. */
    font-weight: 400;
    /* насыщенность шрифта. */
    scroll-behavior: smooth;
    /* Плавная прокрутка страницы на CSS (scroll-behaviour).
    Свойство может принимать 3 основных значения: smooth — плавная прокрутка; instant — мгновенная прокрутка; auto — на усмотрение браузера.*/
    font-family: 'Lato-Light';
    align-items: center;
    /* Свойство align - items со значением center совместит центры родителя и каждого из элементов. Если флекс-элементы выстроены в ряд, то align - items управляет выравниванием по вертикали. */
}

.headler{
    max-width: 1600px;
}

.menu{
    max-width: 1600px;
    display: flex;
    /* Display: flex — это значит, что всё содержимое контейнера может гибко менять свои размеры по ширине или высоте, подстраиваясь под содержимое. */
    justify-content: space-between;
    /* space-between — элементы равномерно распределены вдоль главной оси, при этом первый элемент располагается в начале, а последний — в конце. Между крайними элементами и флекс-контейнером отступа нет */
    align-content: center;
    /* Расположить элементы вокруг центра */
    align-items: center;
    padding-top: 18px;
    padding-bottom: 19px;
    background-color: #222222;
    gap: 53.6875%;
}